aiohttp
accelerate>=1.0.0,<2.0.0
apscheduler
backoff
cachetools
cryptography
einops>=0.7.0
fastapi
filelock
httpx
inference-sdk
networkx
numpy
onnxruntime>=1.15.1,<1.22.0
opencv-python-headless
packaging
peft>=0.15.0
pillow
psutil
pybase64
pycocotools
pydantic
pydantic-settings
pytest
python-dotenv
redis
requests
requests-toolbelt
rich
scikit-image
structlog
supervision
timm>=1.0.0
tldextract
torch>=2.0.1,<3.0.0
torchvision>=0.15.0
transformers==4.49.0
typing-extensions
websockets
yarl
